a.nav-link {
    display: inline-block;
    color: #dfeeff;
}

a.nav-link:hover {
    color: white;
    text-shadow: 1px 1px 50px rgb(255, 255, 255);
}

a.nav-link.active {
    color: #ffffff;
    text-shadow: 1px 1px 50px rgb(255, 255, 255);
}

.space-top {
    margin-top: 2em;
}

.navbar span {
    color: #ffffff;
}

.card-blockquote>img {
    width: 100%;
}

.card {
    margin-bottom: 1em;
}

.selected {
	background: #666666;
}
#month{
    text-align: center
}
.card {
    border-width: 3px
}

th, td{
    border-color: #666666 !important;
}

.bg-secondary {
    color: #666666 !important ;
    background-color: #4b6785 !important;
}
body{
    background-color: rgb(255, 255, 255)
}
.form-control-feedback{
    color: rgb(255, 101, 101);
}
.red{
    box-shadow: 1px 1px 5px red;
}